@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

@font-face {
    font-family: Lyon;
    src: url(LyonSemibold.otf);
}

@font-face {
    font-family: LyonItalic;
    src: url(LyonItalic.otf);
}

body {
	width: 100%;
	margin: 0;
	background: linear-gradient(-180deg, #281029, #0a010b);
	overflow: hidden;
	transition: background 0.5s;
}

h1 {
	position: absolute;
	color: white;
	font-size: 95px;
	margin-left: 100px;
	margin-top: 12vw;
	font-family: 'Lyon', Serif;
	color: #fdfdfd;
}

h1 span {
	color: #f8a066;
}

.navigation {
	position: fixed;
	right: 0;
	width: 175px;
	height: 350px;
	text-align: center;
	margin-top: 40px;
	z-index: 300;
}

.container {
	z-index: 200;
}

.circle-container {
	display: inline-block;
	width: 60px;
	height: 100%;
}

.circle-box {
	width: 45px;
	height: 45px;
	display: block;
	float: left;
	margin-top: 8px;
}

.circle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	width: 50%;
	height: 50%;
	background-color: white;
	margin-left: 25%;
	margin-top: 25%;
	border-radius: 100%;
	transition: 0.25s;
	color: rgba(0, 0, 0, 0.0);
	line-height: 20px;
	opacity: 0.7;
}

.circle-active {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	width: 50%;
	height: 50%;
	background-color: #180218;
	margin-left: 25%;
	margin-top: 25%;
	border-radius: 100%;
	transition: 0.25s;
	color: rgba(0, 0, 0, 0.0);
	line-height: 20px;
	opacity: 0.7;
}

/*.circle-active:hover {
	background-color: #180218;
	width: 75%;
	height: 75%;
	margin-top: 15%;
	margin-left: 15%;
	line-height: 30px;
	color: #180218;
	opacity: 1;
}

.circle:hover {
	background-color: white;
	width: 75%;
	height: 75%;
	margin-top: 15%;
	margin-left: 15%;
	line-height: 30px;
	color: white;
	opacity: 1;
}

*/

.circle span {
	position: absolute;
	margin-left: -115px;
}

.circle-active span {
	position: absolute;
	margin-left: -115px;
}

.main {
	width: 100%;
	height: 800px;
	background-image: url(SunRa.png);
	background-size: 90vw 58vw;
	background-repeat: no-repeat;
	background-position: bottom;
}

.home-icon {
	width: 70px;
	height: 70px;
	display: block;
	position: fixed;
	background-image: url(Sun-Ra-Icon.png);
	background-size: 100% 100%;
	margin-left: 20px;
	margin-top: 35px;
	z-index: 200;
}

#underline {
	display: block;
	width: 150px;
	height: 3.5px;
	background-color: white;
	margin-top: 32vw;
	position: absolute;
	margin-left: 8vw;
}

.button {
	width: 250px;
	height: 50px;
	display: block;
	position: absolute;
	background-color: #e33e67;
	margin-top: 36vw;
	margin-left: 8vw;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	color: #0a010b;
}

.button:hover {
	background-color: white;
}


/*PAGE #2*/

.p2-background {
	display: block;
	width: 150%;
	height: 1200px;
	background-image: url(OrangeBackground-01.svg);
	background-size: 100% 100%;
	background-position: 0px -200px;
	margin-left: 85%;
	transition: 0.8s;
	z-index: 5;
}


.map {
	display: none;
	width: 600px;
	height: 600px;
	position: absolute;
	z-index: 10;
	top: 0;
	margin-left: 35%;
}

.dot {
	display: none;
	position: absolute;
	width: 600px;
	height: 600px;
	z-index: 90;
}

.alabama {
	position: absolute;
	display: none;
	width: 400px;
	height: 400px;
	background-image: url(Alabama-01.png);
	background-size: 100% 100%;
	margin-top: 250px;
	transform: rotate(-15deg);
	margin-left: -50px;
}

.illinois {
	position: absolute;
	display: none;
	width: 400px;
	height: 400px;
	background-image: url(Illinois-01.png);
	background-size: 100% 100%;
	margin-left: 200px;
	transform: rotate(-5deg);
}

.pulse {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	background-color: white;
	position: absolute;

}

#pulse1 {
	margin-left: 170px;
	margin-top: 135px;
}

#pulse2 {
	margin-left: 220px;
	margin-top: 80px;
	animation-name: pulseAnimation;
	animation-duration: 1.5s;
	animation-iteration-count: 4;
	cursor: pointer;
	transition: width 2s;
	transition: height 2s;
}

#pulse2 span {
	color: white;
	position: absolute;
	display: inline-block;
	width: 100px;
	font-size: 18px;
	margin-left: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-top: -5px;
}

@keyframes pulseAnimation {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

#Origins, .p2-1, .line, #Origins2, #Origins3 {
	display: none;
	float: left;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
}

#Origins {
	margin-left: -25vw;
	margin-top: 90px;
	font-weight: 600;
}

#Origins2 {
	margin-left: -25vw;
	margin-top: 400px;
}

#Origins3 {
	margin-left: 24vw;
	margin-top: 400px;
}

#Origins2, #Origins3 {
	font-size: 55px;
	color: white;
}

.p2-1 {
	display: none;
	font-weight: 400;
	font-size: 15px;
	width: 400px;
	margin-left: -24vw;
	margin-top: 225px;
}

.p2-2 {
	display: none;
	width: 300px;
	height: 100px;
	margin-top: 500px;
	margin-left: -24vw;
}

.p2-2 span {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 5px;
	background-color: #1e0c1f;
	margin-left: -200px;
	margin-top: 50px;
}

.p2-3 {
	display: none;
	width: 300px;
	height: 100px;
	margin-top: 500px;
	margin-left: 25vw;
}

.p2-3 span {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 5px;
	background-color: #1e0c1f;
	margin-left: -135px;
	margin-top: 50px;
}

.p2-2, .p2-3 {
	display: inline-block;
	position: absolute;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.line {
	display: none;
	position: absolute;
	width: 150px;
	height: 7px;
	background-color: #1e0c1f;
	margin-left: -24vw;
	margin-top: 340px;
}


/* PAGE 3 */ 

.page-3 {
	display: none;
	width: 600px;
	height: 600px;
	position: absolute;
	z-index: 10;
	top: 0;
	margin-left: 35%;
}

.white-circle {
	top: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	margin-left: 411.5px;
	margin-top: 77px;
	background-image: url(white-circle.png);
	background-size: 100% 100%;
	cursor: pointer;
	transition: width 3s;
	transition: height 3s;
	transition: margin-top 3s;
	transition: margin-left 3s;
}

.page-3Full {
	display: none;
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 10;
	top: 0;
	background-color: white;
	background-image: url(Sun-Ra-Collage.png);
	background-size: 1500 780px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.page-3Full p {
	display: block;
	width: 350px;
	float: left;
	margin-left: 24vw;
	margin-right: -20vw;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.next {
	display: block;
	position: absolute;
	width: 250px;
	height: 50px;
	background-color: #cf3962;
	margin-left: 42%;
	margin-top: 220px;
	color: #0a010b;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}

.next:hover {
	background-color: white;
}



/* PAGE 4 */

.page-4 {
	display: none;
	width: 100%;
	height: 800px;
	position: absolute;
	z-index: 10;
	top: 0;
	background: linear-gradient(-180deg, #281029, #0a010b);
	background-size: 1500 780px;
	background-position: center bottom;
	background-repeat: no-repeat;
	opacity: 1;
}

.stars {
	width: inherit;
	height: inherit;
	background-image: url(planets-stars.png);
	background-size: 1500px 100%;
}

.box {
	display: block;
	position: absolute;
	width: 250px;
	height: 50px;
	background-color: white;
	margin-left: 42%;
	top: 250px;
	text-align: center;
	font-size: 15px;
	line-height: 20px;
	transition: all 1.5s ease-out;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.inner-box {
	display: none;
	width: inherit;
	height: inherit;
	background-color: white;
	position: absolute;
}

.inner-box h2 {
	color: #f6a06c;
	font-size: 50px;
}

.inner-box p {
	color: #0a010b;
	display: inline-block;
	width: 400px;
	text-align: left;
}

.final-button {
	width: 250px;
	height: 50px;
	display: inline-block;
	background-color: black;
	margin-top: 50px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
}

.final-button:hover {
	background-color: #cf3962;
}




/*0a010b

f8a066

	background: linear-gradient(-90deg, red, yellow);
*/